{% extends "shared/_layout.html" %}

{% block title %}Issue Tracker - {{ issue_type.name }}{% endblock %}

{% block content %}
    <h3>{{ issue_type.name }}</h3>
    <p>{{ issue_type.rank }}</p>
{% endblock %}
