{% extends "shared/_layout.html" %}

{% block title %}Issue Tracker - Edit Issue Type {{ issue_type.name }}{% endblock %}

{% block content %}
    <div class="container">
        <h3>Update Issue Type {{ issue_type.name }}</h3>
        <form action="{{ url_for('issue_type_bp.edit_post', name=issue_type.name) }}" method="post">
            {{ form.csrf_token }}

            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.rank.label }}
                {{ form.rank(class_="form-control") }}
            </div>

            {{ form.submit(class_="btn btn-primary") }}
        </form>
    </div>
{% endblock %}
