{% extends "shared/_layout.html" %}

{% block title %}Issue Tracker - Issue Types{% endblock %}

{% block content %}
    <h3>Issue Types</h3>
    {% if issue_types %}
        <table class="table table-striped">
            <thead>
            <th scope="col">Name</th>
            <th scope="col">Rank</th>
            <th scope="col">Actions</th>
            </thead>
            <tbody>
            {% for issue_type in issue_types %}
                <tr>
                    <th scope="row">{{ issue_type.name }}</th>
                    <td>{{ issue_type.rank }}</td>
                    <td>
                        <a href="{{ url_for('issue_type_bp.view_get', name=issue_type.name) }}">View</a> |
                        <a href="{{ url_for('issue_type_bp.edit_get', name=issue_type.name) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no issue types right now...</p>
    {% endif %}

    <div class="float-left">
        <a href="{{ url_for('issue_type_bp.create_get') }}" class="btn btn-primary">Create new</a>
    </div>
{% endblock %}
