{% extends "shared/_layout.html" %}

{% block title %}Issue Tracker - {{ project.short_tag }}{% endblock %}

{% block content %}
    <h3>{{ project.name }}</h3>
    <p>{{ project.description }}</p>
{% endblock %}
