{% extends "shared/_layout.html" %}

{% block title %}Issue Tracker - Edit Project {{ project.name }}{% endblock %}

{% block content %}
    <div class="container">
        <h3>New Project</h3>
        <form action="{{ url_for('project_bp.edit_post', short_tag=project.short_tag) }}" method="post">
            {{ form.csrf_token }}

            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.short_tag.label }}
                {{ form.short_tag(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.description.label }}
                {{ form.description(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.rank.label }}
                {{ form.rank(class_="form-control") }}
            </div>

            {{ form.submit(class_="btn btn-primary") }}
        </form>
    </div>
{% endblock %}
