{% extends "shared/_layout.html" %}

{% block title %}Issue Tracker - Projects{% endblock %}

{% block content %}
    <h3>Projects</h3>
    {% if projects %}
        <table class="table table-striped">
            <thead>
                <th scope="col">Tag</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Owner</th>
                <th scope="col">Rank</th>
                <th scope="col">Actions</th>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <th scope="row">{{ project.short_tag }}</th>
                    <td>{{ project.name }}</td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.owner.username }}</td>
                    <td>{{ project.rank }}</td>
                    <td>
                        <a href="{{ url_for('project_bp.view_get', short_tag=project.short_tag) }}">View</a> |
                        <a href="{{ url_for('project_bp.edit_get', short_tag=project.short_tag) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no projects right now...</p>
    {% endif %}

    <div class="float-left">
        <a href="{{ url_for('project_bp.create_get') }}" class="btn btn-primary">Create new</a>
    </div>
{% endblock %}
