{% extends "shared/_base_layout.html" %}

{% block title %}Issue Tracker - Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <body class="text-center">
        <form action="{{ url_for('main_bp.login_post') }}" method="post" class="form-signin">
            {{ form.csrf_token }}

            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            {{ form.username.label(class_="sr-only") }}
            {{ form.username(class_="form-control", placeholder="Username") }}

            {{ form.password.label(class_="sr-only") }}
            {{ form.password(class_="form-control") }}

            {{ form.submit(class_="btn btn-lg btn-primary btn-block") }}
            <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
        </form>
    </body>
{% endblock %}